body {
  background: #F8F9FA;
}

.add-list:hover {
  transition: background-color 200ms ease-out;
  background-color: #cfdcff;
}

@media screen and (max-width: 750px) {

  .app-title {
    font-size: 1.75rem;
  }

  .fluid-container {
    padding-inline: 10px;
  }

  .removable {
    display: none;
  }

  .item-list {
    cursor: pointer;
  }
}
