
.item-container {
  position: relative;
  min-width: fit-content;
}

.data-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 20px;
}

.new-badge {
  position: absolute;
  left: 15px;
  top: 12px;
  width: fit-content;
  box-shadow: 5px 5px 15px 0 #8b0e0e;
  z-index: 10;
}

.item-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.actions {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 1rem;
}

.title {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.title__lastUpdated {
  display: flex;
  gap: 0.2rem;
}

.current-chapter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.current-chapter button {
  height: fit-content;
  padding: 0.35rem 0.5rem;
}

@media screen and (max-width: 750px) {

  .data-container {
    min-height: 150px;
    overflow: hidden;
    margin-bottom: 0;
  }

  .item-info {
    justify-content: space-evenly;
    z-index: 5;
  }

  .image img {
    height: 190px !important;
    width: 190px !important;
  }

  .image {
    position: absolute;
    top: 0;
    left: 0;
  }

  .image::after {
    content: '';
    position: absolute;
    top: 0;
    width: 190px;
    height: 190px;
    z-index: 5;
    background: linear-gradient(118deg, #ffffff60 25%, #fff 70%);
    backdrop-filter: blur(3px);
  }

  .title__lastUpdated {
    display: none;
  }

  .title {
    margin-bottom: 0;
  }

  .title a {
    font-size: 1.25rem;
  }

  .current-chapter {
    gap: 1.5rem;
  }
}